.DS_Store
scratchPaper
consentForms/~$formed-Consent-Template-Non-Exempt-Research.docx
consentForms/Informed-Consent-Template-Non-Exempt-Research.docx
consentForms/~$formed-Consent-Template.docx
consentForms/Informed-Consent-Template.docx
consentForms/*.HEIC
